/.idea
src/dataset/data/*
src/models/trained_models/*
src/models/LR_Tests/*
src/models/LR_Tests/bs_*/*
src/job_starter.*
src/log_*
src/__pycache__/*
src/dataset/_pycache__/
src/*/*/__pycache__/
src/models/LR_Tests/bs_6/
src/models/LR_Tests_update/
src/utils/__pycache__/